@font-face {
   font-family: 'ProductSans-Regular';
   font-display: swap;
   src: url('file:///C:/Users/hacho/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-05-26_145603/fonts/ProductSans-Regular/font.ttf');
}
